@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	/* font-display: swap; */

	src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	/* font-display: swap; */

	src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lilita';
	font-style: normal;
	font-weight: 400;
	/* font-display: swap; */
	src: url('/fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
}

*:focus {
	outline-color: #b17c11;
	outline-style: dashed;
	outline-offset: 2px;
}
